<div class="main">
  <!-- Các nội dung con ở đây -->
  <div class="box">
    <div class="main">
      <div class="room">
        <div class="room-tabs">
          <div class="room-tab">Living Room</div>
          <div>Kitchen Room</div>
          <div>Bed Room</div>
          <div>Movie Room</div>
          <div>Game Room</div>
        </div>
        <a routerLink="/devices"
          ><button class="adddevices">+ Add Device</button></a
        >
      </div>
      <div class="box1">
        <div class="card">
          <h3>Air Conditioner</h3>
          <div class="temperature-control">
            <strong>24°C</strong>
            <input type="range" min="16" max="32" value="24" />
          </div>
        </div>

        <div class="card">
          <div style="display: flex; justify-content: space-between">
            <div>
              <h4>Total spend</h4>
              <p>35.02Kwh</p>
            </div>
            <div>
              <h4>Total hours</h4>
              <p>32h</p>
            </div>
          </div>
          <div class="chart">
            <div class="bar" style="height: 40px"></div>
            <div class="bar" style="height: 80px"></div>
            <div class="bar" style="height: 60px"></div>
            <div class="bar active" style="height: 120px"></div>
            <div class="bar" style="height: 70px"></div>
            <div class="bar" style="height: 90px"></div>
            <div class="bar" style="height: 100px"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
