/* Sidebar chính */
.sidebar {
  position: fixed;
  height: 100vh;
  width: 250px;
  background: #11101d;
  padding: 20px 0;
  transition: all 0.5s ease;
  overflow: hidden;
  z-index: 100;
  cursor: pointer;
}
.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
/* Khi sidebar bị thu gọn */
.sidebar.active {
  width: 90px;
}

/* Logo + tên thương hiệu */
.sidebar .logo-details a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.sidebar .logo-details a i {
  font-size: 28px;
  color: #fff;
  min-width: 60px;
  text-align: center;
}

.sidebar .logo-details a .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* Khi sidebar bị thu gọn thì ẩn logo_name */
/* .sidebar.active .logo-details .logo_name {
  opacity: 0;
  pointer-events: none;
} */

.sidebar.active .logo-details a .logo {
  margin: 0px;
  opacity: 0;
  display: none;
  pointer-events: none;
}

/* Các mục menu trong sidebar */
.sidebar .nav-links {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  height: 50px;
  line-height: 50px;
}

.sidebar .nav-links li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 20px;
  height: 100%;
  transition: 0.4s;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar .nav-links li a i {
  font-size: 22px;
  min-width: 60px;
  text-align: center;
}

/* Khi sidebar thu gọn, ẩn chữ trong các link */
.sidebar.active .nav-links li a span {
  display: none;
}

/* Hover link */
.sidebar .nav-links li a:hover {
  background: #1d1b31;
  border-left: 4px solid #fff;
}

/* Link đang active */
.sidebar .nav-links li a.active-link {
  background: #1d1b31;
  border-left: 4px solid #fff;
}
.logo-details a {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  text-decoration: none;
}
