<!-- Sidebar -->
<aside class="sidebar" [class.active]="!sidebarActive">
  <div class="logo-details">
    <a routerLink="/authorized/application/list" routerLinkActive="active-link">
      <img src="/assets/img/logo.jpg" alt="logo" class="logo" />
      <span class="logo_name">NABI</span>
    </a>
  </div>
  <ul class="nav-links">
    <li>
      <a
        routerLink="/authorized/application/list"
        routerLinkActive="active-link"
      >
        <i class="bx bx-grid-alt"></i>
        <span class="links_name">Dashboard</span>
      </a>
    </li>
    <li>
      <a
        routerLink="/authorized/application/devices"
        routerLinkActive="active-link"
      >
        <i class="bx bx-pie-chart-alt-2"></i>
        <span class="links_name">Devices</span>
      </a>
    </li>
    <li>
      <a
        routerLink="/authorized/application/recent"
        routerLinkActive="active-link"
      >
        <i class="bx bx-box"></i>
        <span class="links_name">Recent</span>
      </a>
    </li>
    <li>
      <a
        routerLink="/authorized/application/support"
        routerLinkActive="active-link"
      >
        <i class="bx bx-help-circle"></i>
        <span class="links_name">Support</span>
      </a>
    </li>

    <li class="log_out">
      <a (click)="logout()">
        <i class="bx bx-log-out"></i>
        <span class="links_name">Log out</span>
      </a>
    </li>
  </ul>
</aside>
